@(results: List[services.Github.Repository] = Nil)(implicit messages: Messages)

@main(messages("home")) {
  @if(!results.isEmpty) {
    <div class="row">
      <div class="col-md-12">
        <h3>@messages("results")</h3>
        <ul class="list-group">
          @results.map { repo =>
            <li class="list-group-item">
              <a href="@routes.HomeController.show(repo.ownerLogin, repo.name)">@repo.ownerLogin / @repo.name</a>
              @repo.description.map { desc =>
                <p class="small">@desc</p>
              }
            </li>
          }
        </ul>
      </div>
    </div>
  }
  <div class="jumbotron">
    <p class="lead">@messages("query.label")</p>
    <form method="get" action="/">
      <div class="form-group">
        <input type="text" class="form-control" id="query" name="q" placeholder="@messages("query.placeholder")" />
      </div>
      <button type="submit" class="btn btn-lg btn-success" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> @messages("query.search")</a>
    </form>
  </div>
}
