@(repo: services.Github.RepositoryInfo, commits: List[services.Github.Commit])(implicit messages: Messages)

@main(messages("repository", (repo.owner.name + "/" + repo.name))) {
  <div class="row">
    <div class="col-md-12">
      <h1>@messages("repository", (repo.owner.name + "/" + repo.name))</h1>
      @repo.description.map { desc => <p class="small">@repo.description</p> }
    </div>
    <div class="col-md-12 contributors">
      <h3>@messages("contributors")</h3>
      <div class="row">
        @for(contributor <- repo.contributors) {
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-2">
                <img class="img-thumbnail img-responsive" src="@contributor.avatar"></img>
              </div>
              <div class="col-md-10" >
                @contributor.name
              </div>
            </div>
          </div>
        }
      </div>
    </div> @* /.contributors*@
    <div class="col-md-12 commits">
      <h3>Commits</h3>
      <div class="row">
        @for(commit <- commits) {
          <div class="col-md-12">
            <p>@commit.date</p>
            @commit.contributor.fold {
              <p>Inconnu(e)</p>
            }{ contrib =>
              <p>@contrib.name</p>
            }
          </div>
        }
      </div> @* /.commits *@
    </div>
  </div>
}
